.option {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background: $dark-blue; 
    border: none;
    padding: 5%; 
    font-size: $l-size; 
    color: $off-white;
    font-weight: 300; 
    border-bottom: 1px solid lighten($light-blue, 10%)
}
